body
{
    background-image: url(./main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hide{
    display: none;
}
.firstbutton
{
    padding: 20px 0;
    text-align: center;
}
.btnnnn{
   padding: 20px 50px;
  margin-right: 10px;
  background-color: rgb(0, 174, 255);
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  font-family: cursive;
}
.head
{
    margin: 0 auto;
    /* padding-left: 50px; */
    background-color: white;
    padding: 100px 50px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    border: 6px solid rgb(31, 31, 31);
    min-height: 200px;
    
}
.secondbutton
{
    padding: 20px 0;
    text-align: center;
}
.btns
{
    padding: 15px 50px;
    margin-right: 10px;
    background-color: rgb(0, 174, 255);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    font-family: cursive;
    margin-bottom: 10px;
}
input{  
    background-color: rgb(214, 214, 214);
    padding: 15px 10px;
    border: 1px solid white;
}
.subBut{
    padding: 10px 30px;
    margin-right: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    font-family: cursive;
    margin-top: 20px;
}
